@font-face {
    font-family: "Open Sans";
    src: 
        url("../fonts/OpenSans-Regular.ttf") format("truetype"), 
        url("../fonts/OpenSans-Regular.woff") format("woff"), 
        url("../fonts/OpenSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
@font-face {
    font-family: "Open Sans";
    src: 
        url("../fonts/OpenSans-Bold.ttf") format("truetype"),
        url("../fonts/OpenSans-Bold.woff") format("woff"),
        url("../fonts/OpenSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

* {
    box-sizing: border-box;
}

body, ul, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

:root {
--color-light: #ffffff;
--color-gray: #888888;
--color-lightgray: #ededed;
--color-dark: #000000;
--color-dark-alternative: #0f0d0e;
--color-accent: #b59f5b;
--color-light-accent: #e1d9bd;
--color-lightgreen: #f4f7f6;

--font-family: "Open Sans", sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-light);
    color: var(--color-dark-alternative);
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: 700;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: none; */
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.popup__toggle:checked + .popup {
    display: flex;
}

.popup__content {
    position: relative;
    background-color: var(--color-light);
    width: 333px;
    z-index: 5;
    margin: 0 auto;
    top: 55px;
    padding-block: 28px;
    padding-inline: 25px;
}

.popup__close {
    position: absolute;
    color: var(--color-light);
    font-size: 60px;
    right: -5px;
    cursor: pointer;
    z-index: 4;
    top: -60px;
}

.popup__title {
    font-size: 16px;
    text-align: center;
    position: relative;
    margin-bottom: 45px;
}

.popup__title::after {
    position: absolute;
    content: "";
    width: 66px;
    height: 3px;
    background-color: var(--color-light-accent);
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
}

.popup__form-select-label {
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 8px;
}

.popup__form-select-frequency {
    appearance: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    background-color: var(--color-lightgreen);
    border: none;
    padding-left: 20px;
    width: 280px;
    height: 48px;
    margin-top: 12px;
    margin-bottom: 35px;
  
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-size: 9px 16px;
    background-position: top 15px right 14px; 
}

.popup__form-select-frequency:focus {
    border: 1px solid var(--color-accent);
    outline: none;
}

.popup__form-radio-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 10px;
}

.popup__form-radio-toggle {
    appearance: none;
    width: 24px;
    height: 24px;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    margin-right: 5px;
    vertical-align: middle;
}

.popup__form-radio-toggle:checked {
    background-image: url("../svg/form-circle.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.popup__form-radio-label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    margin-right: 35px;
    vertical-align: middle;
}

.popup__form-opinion-label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
}

.popup__form-opinion-textarea {
    appearance: none;
    border: none;
    background-color: var(--color-lightgreen);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    margin-top: 10px;
    width: 280px;
    height: 130px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.popup__form-opinion-textarea:focus {
    border: 1px solid var(--color-accent);
    outline: none;
}
 
.popup__form-button {
    display: block;
    appearance: none;
    border: none;
    width: 280px;
    height: 48px;
    background-color: var(--color-accent);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--color-light);
}
  
.popup__form-button:hover {
    background-color: #323232;
}

.header {
    position: relative;
    background-image: url("../images/banner-mobile.jpg");
    background-color: var(--color-dark);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
}

.header::before {
    position: absolute;
    content: "";
    display: block;
    background-color: #000000;
    opacity: 0.6;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.header__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.header__burger-button {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    row-gap: 4px;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    align-self: flex-end;
    margin-right: 15px;
    margin-top: 30px;
    
    z-index: 3;
}

.header__burger-button-line {
    width: 20px;
    height: 2.5px;
    background-color: var(--color-light);
    z-index: 3;
}

.header__logo-image {
    margin-top: 170px;
    width: 270px;
    height: 60px;
}

.header__menu {
    display: none;
}

.header__title {
    position: relative;
    text-align: center;
    font-size: 26px;
    line-height: 1.4;
    padding-top: 45px;
    padding-bottom: 220px;
    max-width: 675px;
    margin-inline: auto;
    color: var(--color-light);
    z-index: 3;
    padding-inline: 40px;
}

.main__trendingnow {
    width: 100%;
}

.main__trendingnow-title {
    font-size: 16px;
    text-align: center;
    position: relative;
    margin-top: 40px;
    margin-bottom: 35px;
    width: 100%;
}

.main__trendingnow-title::after {
    position: absolute;
    content: "";
    width: 66px;
    height: 3px;
    background-color: var(--color-light-accent);
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
}

.main__trendingnow-article {
    position: relative;
    background-color: var(--color-dark);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
    background-size: cover;
    padding-top: 84px;
    padding-bottom: 12px;
    padding-inline: 15px;
    margin-bottom: 2px;
}

.main__trendingnow-article::before {
    position: absolute;
    content: "";
    display: block;
    background-color: var(--color-dark);
    opacity: 0.6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.main__trendingnow-article_garden {
    background-image: url("../images/trend1.jpg");
}

.main__trendingnow-article_cheese {
    background-image: url("../images/trend2.jpg");
    padding-top: 65px;
}

.main__trendingnow-article_hike {
    background-image: url("../images/trend3.jpg");
}

.main__trendingnow-article_lemons {
    background-image: url("../images/trend4.jpg");
    margin-bottom: 0;
}

.main__trendingnow-article-container {
    position: relative;
    border: 2px solid var(--color-accent);
    z-index: 3;
    padding-block: 30px;
    padding-left: 22px;
    padding-right: 35px;
}

.article-tagslist__item {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    margin-right: 20px;
    position: relative;
    z-index: 3;
}

.tagslist__link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-accent);
}

.tagslist__link:hover {
    text-decoration: underline;
}

.main__article-title {
    font-size: 16px;
    line-height: 1.25;
    position: relative;
    z-index: 3;
    margin-top: 14px;
}

.article-title__link {
    text-decoration: none;
    color: var(--color-light);
}

.article-title__link:hover {
    color: var(--color-accent);
}

.main__content-container {
    display: flex;
    flex-direction: column;
    margin-inline: 14px; 
}

.main__content {
    position: relative;
    margin-top: 60px;
}

.main__content:first-child {
    margin-top: 40px;
}

.main__content::after {
    position: absolute;
    content: "";
    width: 330px;
    height: 3px;
    background-color: #eeeeee;
    bottom: -20px;
}

.main__content-image {
    width: 330px;
    margin-bottom: 14px;
}

.main__content-tagslist {
    list-style-type: none;
}

.content-tagslist__item {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    margin-right: 20px;
}

.main__content-title {
    font-size: 16px;
    line-height: 1.25;
    margin-top: 14px;
    margin-bottom: 24px;
}

.content-title__link {
    text-decoration: none;
    color: var(--color-dark-alternative);
}
  
.content-title__link:hover {
    color: var(--color-accent);
}
  
.content-data {
    display: flex;
    margin-bottom: 20px;
}
  
.content-time {
    font-size: 12px;
    color: var(--color-gray);
    margin-right: 15px;
}
  
.content-author {
    font-weight: 700;
    font-size: 12px;
    color: var(--color-dark)
}
  
.content-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
}

.aside {
    margin-inline: 14px;
}

.aside__newposts-title {
    font-size: 16px;
    color: var(--color-dark-alternative);
    text-align: center;
    position: relative;
    margin-top: 65px;
    margin-bottom: 40px;
}
  
.aside__newposts-title::after {
    position: absolute;
    content: "";
    width: 66px;
    height: 3px;
    background-color: var(--color-light-accent);
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
}
  
.aside__article {
    display: flex;
    margin-top: 20px;
}
  
.aside__article-image {
    width: 70px;
    align-self: flex-start;
    margin-right: 15px;
}
  
.aside__article-textcontent {
    margin-top: -7.5px;
}
  
.aside__article-title {
    font-size: 14px;
    margin-top: 10px;
    line-height: 1.2;
    margin-bottom: 0;
}
  
.aside__article-titlelink {
    text-decoration: none;
    color: var(--color-dark);
}
  
.aside__article-titlelink:hover {
    color: var(--color-accent);
}

.aside__search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.search-form__field {
    width: 283px;
    height: 48px;
    appearance: none;
    padding-left: 19px;
    background-color: var(--color-lightgreen);
    font-weight: 400;
    font-size: 13px;
    color: #787a79;
    border: none;
    margin-top: 60px;
}
  
.search-form__button {
    width: 48px;
    height: 48px;
  
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-color: var(--color-accent);
    background-size: 18px 18px;
    background-position: center center;
    border: none;
    margin-top: 60px;
}
  
.search-form__field:focus {
    border: 1px solid var(--color-accent);
    outline: none;
}
  
.search-form__button:hover {
    background-color: #323232;
}
  
.aside__newsletter-title {
    font-size: 16px;
    text-align: center;
    position: relative;
    margin-top: 45px;
    margin-bottom: 40px;
}
  
.aside__newsletter-title::after {
    position: absolute;
    content: "";
    width: 66px;
    height: 3px;
    background-color: var(--color-light-accent);
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
}

.aside__subscribe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.subscribe-form__field {
    width: 331px;
    height: 48px;
    appearance: none;
    padding-left: 19px;
    background-color: var(--color-lightgreen);
    font-weight: 400;
    font-size: 13px;
    color: #787a79;
    border: none;
    position: relative;
}
  
.subscribe-form__field:focus {
    border: 1px solid var(--color-accent);
    outline: none;
}
  
.subscribe-form__button {
    display: block;
    appearance: none;
    border: none;
    width: 331px;
    height: 48px;
    background-color: var(--color-accent);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--color-light);
    margin-top: 17px;
}
  
.subscribe-form__button:hover {
    background-color: #323232;
}
  
.aside__tags-title {
    font-size: 16px;
    text-align: center;
    position: relative;
    margin-block: 40px;
}
  
.aside__tags-title::after {
    position: absolute;
    content: "";
    width: 66px;
    height: 3px;
    background-color: var(--color-light-accent);
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
}
  
.aside__tagslist {
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  
.tagslist-item__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    color: var(--color-dark-alternative);
    background-color: rgba(244, 243, 241, 0);
    border: 3px solid #eeeeee;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 7px;
    padding-inline: 13px;
    padding-block: 5px;
    display: flex;
}
  
.tagslist-item__link:hover {
    border: 3px solid var(--color-accent);
}
  
.aside__topics-title {
    font-size: 16px;
    text-align: center;
    position: relative;
    margin-block: 40px;
}
  
.aside__topics-title::after {
    position: absolute;
    content: "";
    width: 66px;
    height: 3px;
    background-color: var(--color-light-accent);
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
}
  
.aside__topicslist {
    list-style-type: none;
}
  
.aside__topicslist-item {
    margin-bottom: 15px;
    border-bottom: 1px solid var(--color-lightgray);
    padding-bottom: 12px;
}
  
.topicslist-item__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    color: var(--color-dark);
}
  
.topicslist-item__link:hover {
    color: var(--color-accent);
}
  
.sup {
    vertical-align: super;
    font-weight: 700;
    font-size: 12px;
    color: var(--color-accent);
}

.main__ourproducts-title {
    font-size: 16px;
    text-align: center;
    position: relative;
    margin-block: 40px;
    width: 100%;
}

.main__ourproducts-title::after {
    position: absolute;
    content: "";
    width: 66px;
    height: 3px;
    background-color: var(--color-light-accent);
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
}   

.main__ourproducts-article {
    padding-inline: 14px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__ourproducts-image {
    width: 285px;
    height: 285px;
}

.wrapper {
    padding-inline: 20px;
    padding-bottom: 25px;
    border: 3px solid var(--color-accent); 
    margin-top: -32px;
}

.main__ourproducts-article-title {
    font-size: 17px;
    margin-top: 50px;
    margin-bottom: 12px;
}

.ourproducts-article-title__link {
    text-decoration: none;
    color: var(--color-dark-alternative);
}
  
.ourproducts-article-title__link:hover {
    color: var(--color-accent);
}

.main__ourproducts-article-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
}

.main__ourproducts-article-text:hover {
    font-weight: 700;
}

.ourproducts-article__link {
    text-decoration: none;
    color: var(--color-accent);
}

.ourproducts-article__link:hover {
    text-decoration: underline;
}

.wrp {
    display: flex;
    justify-content: space-between;
}

.main__ourproducts-article-prices {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    margin-top: 22px;

}

.product__price {
    font-size: 20px;
}

.product__price_old {
    font-size: 14px;
    text-decoration: line-through;
}

.rub {
    vertical-align: middle;
	border-bottom: 0.07em solid;
	line-height: 0.2em;
	display: inline-block;
	width: 0.5em;
}

.product__button {
    appearance: none;
    border: none;
    width: 138px;
    height: 48px;
    background-color: var(--color-accent);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 20px;
}

.product__button:hover {
    background-color: #323232;
}

.footer {
    min-width: 330px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding-inline: 14px;
}
  
  .footer__social-iconslist {
    background-color: var(--color-lightgreen);
    padding-block: 30px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .socialicon-dribbble__link {
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--color-lightgreen);
  
    background-image: url("../svg/001-dribbble.svg");
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    background-size: 20px;
    margin-right: 30px;
}
  
  .socialicon-pinterest__link {
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--color-lightgreen);
    background-image: url("../svg/002-pinterest.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    margin-right: 30px;
}
  
  .socialicon-tumblr__link {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../svg/003-tumblr.svg");
    background-repeat: no-repeat;
    background-size: 20px;
}
  
  .footer__copyrights {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 45px;
}
  
  .footer__copyrights-link {
    text-decoration: none;
    color: #999999;
    font-weight: 700;
    font-size: 12px;
}
  
@media (max-width: 640px) and (orientation: landscape) {
    .app {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 3px;
    }

    .main__trendingnow-article {
        padding-top: 94px;
        padding-inline: 17px;
        width: calc((100% - 3px) / 2);
        margin-bottom: 0;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

@media (min-width: 641px) and (max-width: 1200px) {
    .app {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 3px;
    }

    .main__trendingnow-article {
        padding-top: 94px;
        padding-inline: 17px;
        width: calc((100% - 3px) / 2);
        margin-bottom: 0;
    }
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
    .app {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 3px;

        word-wrap: break-word;
    }

    .main__trendingnow-article {
        padding-top: 94px;
        padding-inline: 17px;
        width: calc((100% - 3px) / 4);
        margin-bottom: 0;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

@media (min-width: 768px) {
    .popup__content {
        width: 390px;
        top: 235px;
        padding-block: 50px;
        padding-inline: 30px;
    }

    .popup__close {
        font-size: 50px;
        top: -55px;
    }
    
    .popup__title {
        font-size: 18px;
        margin-bottom: 40px;
    }
    
    .popup__form-select-label {
        margin-bottom: 10px;
    }
    
    .popup__form-select-frequency {
        width: 330px;
    }
    
    .popup__form-opinion-textarea {
        width: 330px;
    }
     
    .popup__form-button {
        width: 330px;
    }
  
    .header {
         background-image: url("../images/banner-bg-tablet.jpg");
    }
    
    .header__container {
        flex-direction: row;
        justify-content: space-between;
    } 

    .header__burger-button {
        align-self: baseline;
        margin-right: 35px;
        row-gap: 5px;
        order: 1;
        margin-top: 52px;
    }

    .header__logo-image {
        margin-top: 42px;
        margin-left: 35px;
        width: 160px;
        height: 40px;
    }

    .header__title {
        font-size: 40px;
        padding-top: 100px;
        padding-bottom: 120px;
        padding-inline: 80px;
    }

    .main__trendingnow-title {
        font-size: 18px;
        margin-top: 45px;
        margin-bottom: 30px;
    }

    .main__trendingnow-article_cheese {
        padding-top: 70px;
    }

    .main__article-title {
        font-size: 17px;
        line-height: 1.3;
    }

    .main-aside__container {
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        margin-inline: 35px;
        justify-content: space-between;
    }

    .main__content-container {
        margin-left: 0; 
    }

    .main__content {
        margin-top: 65px;
        min-width: 390px;
    }

    .main__content:last-of-type::after {
        display: none;
    }

    .main__content:first-child {
        margin-top: 50px;
    }

    .main__content::after {
        width: 390px;
        bottom: -25px;
    }

    .main__content-image {
        width: 390px;
    }

    .main__content-title {
        font-size: 17px;
        line-height: 1.3;
        margin-bottom: 35px;
    }

    .content-data {
        margin-bottom: 35px;
    }

    .content-text {
        font-size: 15px;
        line-height: 1.5;
    }

    .aside {
        margin-right: 0;
        margin-left: 27px;
    }

    .aside__newposts-title {
        font-size: 14px;
        margin-top: 50px;
    }

    .aside__article-image {
        margin-right: 20px;
    }

    .search-form__field {
        width: 220px;
    }

    .aside__newsletter-title {
        font-size: 14px;
        margin-top: 60px;
    }

    .subscribe-form__field {
        width: 268px;
    }
      
    .subscribe-form__button {
        width: 268px;
    }

    .aside__tags-title {
        font-size: 14px;
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .aside__tagslist {
        justify-content: flex-start;
    }
      
    .aside__topics-title {
        font-size: 14px;
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .main__ourproducts {
        margin-inline: 35px;
    }

    .main__ourproducts-title {
        font-size: 18px;
        margin-top: 70px;
        margin-bottom: 45px;
    }

    .main__ourproducts-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 38px;
    }

    .main__ourproducts-container_pillow {
        width: calc((100% - 38px) / 2);
    }

    .main__ourproducts-container_doll {
        width: calc((100% - 38px) / 2);
    }

    .main__ourproducts-container_frame {
        width: calc((100% - 38px) / 2);
    }

    .main__ourproducts-article {
        padding-inline: 0;
        margin-bottom: 0;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 25px;
    }
    
    .main__ourproducts-image {
        width: 290px;
        height: 225px;
    }

    .wrapper {
        max-width: 330px;
        flex-grow: 1;
    }
    
    .footer {
        margin-top: 48px;
        padding-inline: 35px;
    }
      
    .footer__copyrights {
        margin-bottom: 35px;
    }
}

@media (min-width: 1200px) {
    .popup__close {
        font-size: 40px;
        top: -45px;
        right: -2px;
    }
    
    .header {
        background-image: url("../images/banner-bg.jpg");
   }

    .header__burger-button {
        display: none;
    }

    .header__logo-image {
        min-width: 180px;
        margin-top: 30px;
    }

    .header__menu {
        display: block;
        margin-right: 50px;
        padding-top: 15px;
    }

    .header__menu-list {
        list-style-type: none;
    }
      
    .menu__list-item {
        display: inline-block;
        text-transform: uppercase;
    }

    .menu__list-link {
        text-decoration: none;
        color: var(--color-light);
        font-weight: 400;
        font-size: 13px;
    }
      
    .menu__list-link:hover {
        text-decoration: underline;
    }
      
    .menu__list-item:nth-child(n + 2) {
        margin-left: 35px;
    } 

    .header__title {
        font-size: 45px;
        line-height: 1.5;
        padding-top: 125px;
        padding-bottom: 140px;
    }

    .app {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 3px;
    }

    .main__trendingnow-title {
        font-size: 20px;
        margin-top: 57px;
        margin-bottom: 40px;
    }

    .main__trendingnow-article {
        padding-top: 150px;
        padding-bottom: 12px;
        padding-inline: 20px;
        width: calc((100% - 3px) / 4);

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .main__trendingnow-article_cheese {
        padding-top: 126px;
    }

    .main__article-title {
        font-size: 20px;
        line-height: 1.2;
    }

    .main-aside__container {
        margin: 0 auto;
        padding-inline: 50px;
    }

    .main__content {
        margin-top: 60px;
        display: flex;
        max-width: 793px;
    }

    .main__content:first-child {
        margin-top: 65px;
    }

    .main__content::after {
        display: none;
    }

    .main__content-image {
        width: 380px;
        margin-right: 30px;
    }

    .main__content-title {
        font-size: 20px;
        line-height: 1.2;
    }

    .content-data {
        margin-bottom: 45px;
    }

    .aside {
        max-width: 280px;
      }

    .search-form__field {
        width: 222px;
    }

    .subscribe-form__field {
        width: 270px;
    }
      
    .subscribe-form__button {
        width: 270px;
    }

    .aside__newposts-title {
        margin-top: 60px;
    }

    .main__ourproducts {
        margin-inline: 50px;
    }

    .main__ourproducts-title {
        font-size: 20px;
        margin-top: 65px;
    }

    .main__ourproducts-container {
        justify-content: center;
    }

    .main__ourproducts-container_pillow {
        width: calc((100% - 76px) / 3);
    }

    .main__ourproducts-container_doll {
        width: calc((100% - 76px) / 3);
    }

    .main__ourproducts-container_frame {
        width: calc((100% - 76px) / 3);
    }

    .main__ourproducts-article {
        margin-bottom: 0;
    }
    
    .main__ourproducts-image {
        width: 300px;
        height: 200px;
    }

    .wrapper {
        max-width: 340px;
    }
    
    .footer {
        margin-top: 65px;
        padding-inline: 50px;
    }
      
    .footer__copyrights {
        margin-top: 75px;
        margin-bottom: 45px;
    }
}
